@import "_variables.scss";

.user-info {
  background-image: url();
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include laptop {
    height: 100vh;
  }
}
.user-info-header {
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    @include tablet {
      font-size: 3rem;
    }
    @include laptop {
      font-size: 4rem;
    }
    @include desktop {
      font-size: 5rem;
    }
  }
  .user-info-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    @include laptop {
      height: 60%;
      width: 90%;
      flex-direction: row;
    }
  }
.card{
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.card-side{
    height: 500px;
    width: 300px;
    font-size: 15px;
    color: white;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
}
.card-side-front{
    background-color: red;;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 1s;
}
.card-side-back{
    background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transform: rotateY(-180deg);
    transition: all 1s;
}
.card:hover .card-side-front{
    transform: rotateY(180deg);
}
.card:hover .card-side-back{
    transform: rotateY(0deg);
}